body{

    width: 80%;
    text-align: center;
    margin: auto;
}

html{
    
  background-color: #1D7F56; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #146640, #1D7F56, #146640); /* Standard syntax (must be last) */
}

h1{
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 0px;
}

.soustitre{
    color: white;
    margin-bottom: 0px;
}

.button{
    border: 2px solid white;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    margin: 4px 2px;
    width: 80%;
    transition-duration: 0.4s;
    background-color: transparent;
}
  
  
.button:hover {
      background-color: white;
      color: #1D7F56;
      border: 2px solid white;
}

.backbutton{
    border: 2px solid white;
    color: #1D7F56;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    margin: 4px 2px;
    width: auto;
    transition-duration: 0.4s;
    background-color: white;
}
  
  
.backbutton:hover {
      background-color: transparent;
      color: white;
      border: 2px solid white;
}

ul{
    color: white;
    font-size: 14pt;
    margin-top: 5px;
    margin-bottom: 5px;
}

li{
    color: white;
}