body{

    max-width: 80%;
    text-align: center;
    margin: auto;
}

html{
    
  background-color: #1D7F56; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #146640, #1D7F56, #146640); /* Standard syntax (must be last) */
}

h1{
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 0px;
}

p{
    color: white;
    font-size: 14pt;
}

label{
    color: white;
    font-size: 14pt;
}

td{
    text-align:center;
}

table{
    text-align: center;
    width: auto;
    margin: auto;
}

.enonce{
  display: block;
  word-wrap: break-word;
  max-width: 347;
  color: white;
  font-size: 14pt;
}

.button{
    border: 2px solid white;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    margin: 4px 2px;
    width: 80%;
    transition-duration: 0.4s;
    background-color: transparent;
}
  
  
.button:hover {
      background-color: white;
      color: #1D7F56;
      border: 2px solid white;
}

.backbutton{
    border: 2px solid white;
    color: #1D7F56;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    margin: 4px 2px;
    width: auto;
    transition-duration: 0.4s;
    background-color: white;
}
  
  
.backbutton:hover {
      background-color: transparent;
      color: white;
      border: 2px solid white;
}

ul{
    color: white;
    font-size: 14pt;
    margin-top: 5px;
    margin-bottom: 5px;
}



li{
    color: white;
}

/*the container must be positioned relative:*/
.custom-select {
    position: relative;
    font-family: Arial;
    display: inline-block;
    border-radius: 5px;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element:*/
  }
  
  .select-selected {
    background-color: white;
    color: #1D7F56;
    padding: 5px 20px 5px 5px;
    border: 2px solid white;
    border-color: white white rgb(255, 255, 255, 0.9) white;
    cursor: pointer;
    user-select: none;
    transition-duration: 0.4s;
    border-radius: 5px;
  }
  .select-selected:hover {
    background-color: #1D7F56;
    color: white;
  }
  
  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: white transparent transparent transparent;
  }
  
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent white transparent;
    top: 7px;

  }
  
  /*style the items (options), including the selected item:*/
.select-items div {
    color: #1D7F56;
    padding: 5px 5px 5px 5px;
    border: 2px solid white;
    border-color: white white rgb(255, 255, 255, 0.9) white;
    background-color: white;
    cursor: pointer;
    user-select: none;
    transition-duration: 0.4s;
    border-radius: 5px;
  }
  
  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color: #1D7F56;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: transparent;
    color: white;
    border: 2px solid white;
  }